
@media screen and (max-width:858px) {
    .company-reviews {
        position: relative;
        padding: 5px 10px;
        height: 100vh;
        color: #000;
    }
    
    .company-text {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .company-text img {
        /* max-width: 100%; */
        width: 500px;
        height: 450px;
        object-fit: cover;
        object-position: center;
        padding: 20px;
    }
    
    .main-footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .social-icons{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
